.page-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.stock available {
    margin-bottom: 10px;
}

#textPrice {
    margin-right: 10px;
}
.product-options-bottom .price-box .price-container, .product-info-price .price-box .price-container {
    display: flex;
}

.action.primary, .action-primary {
    background-color: tomato;
    border-right: 15px;
}


.item.product.product-item .product-item-photo {
    position: relative;
    overflow: hidden;
}

.item.product.product-item .product-item-photo img {
    transition: transform 0.3s ease-in-out;
}

.item.product.product-item .product-item-photo:hover img {
    transform: scale(1.1);
}

.item.product.product-item .product-item-photo:hover img {
    opacity: 0.8;
}
